<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Add Goal</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Write the title of your goal here!">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Write some notes about your goal!</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button href="/">SAVE</button>
