{{#each attainables as |attainable| }}
<div class="card mx-auto" style="width: 18rem; background-color: #CB534F;" onclick="generateAttainable()">
        <div class="card-body">
          <h5 class="card-title">{{attainable.attainable_name}}</h5>
          <p class="card-text">{{attainable.note}}</p>
          <a href="api/attainable/{{attainable.id}}" class="card-link">Tasks to complete {{attainable.attainable_name}}</a>
        </div>
      </div>
{{/each}}

<div>
<form class="form new-attainable-form">
  <div class="mb-3">
    <label for="attainable_name"class="form-label">Add Goal</label>
    <input id="attainable_name" type="text" class="form-control" placeholder="Write the title of your goal here!">
  </div>
  <div class="mb-3">
    <label for="note"class="form-label">Write some notes about your goal!</label>
    <textarea id="note" class="form-control" rows="3"></textarea>
  </div>
  <button class="btn" style="background-color: #e3f2fd;" type="submit">SAVE</button>
</form>
</div>

  <script src="/js/goal.js"></script>