<div class="row">
  <div class="col-md-6">
  <div class="col-md-6">
    <h2 class="login-text">Sign Up:</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="email-signup" class="login-text">Email:</label>
        <input class="form-input " type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="login-text">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary submit" type="submit" style="background-color: goldenrod; border-color: rgb(169, 129, 26)">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>