
{{#each tasks as |task| }}
<div class="card mx-auto" style="width: 18rem; background-color: #53A586;">
        <div class="card-body">
          <h5 class="card-title">{{task.task_name}}</h5>
          <p class="card-text">{{task.note}}</p>
          <a href="/lofty" class="card-link">Take me home, country road!</a>
        </div>
      </div>
{{/each}}

<div>
<form class="form new-task-form">
  <div class="mb-3">
    <label for="task_name"class="form-label">Add Goal</label>
    <input id="task_name" type="text" class="form-control" placeholder="Write the title of your goal here!">
  </div>
  <div class="mb-3">
    <label for="note"class="form-label">Write some notes about your goal!</label>
    <textarea id="note" class="form-control" rows="3"></textarea>
  </div>
  <button id="task-button" class="btn" style="background-color: #e3f2fd;" type="submit">SAVE</button>
</form>
</div>

  <script src="/js/tasks.js"></script>