@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol, ul {
    list-style: none;
  }
/* Root variables for the for the css */

  /* :root {
    --dark: #13293d;
    --light: #fff;
    --navlink-color: #b9c6ae;
  }

/* CSS for the page */


body {
    color: white;
    background-origin: initial;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    min-height: 100%;
    flex: auto;
    background-image:
      url("../assets/pillars-of-creation-james-webb-21-9-5974x2560-v0-tl4zsrio9wu91.png");
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;             
     };

main {
    margin: 100px;
}
#loftyTitleText {
  font-size: 1.5em;           
  color: white;            
  text-shadow:               
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  /* margin-bottom: 15px; */
  padding: 15px 0;   
}
.navbarCustom {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); /* Slight white border at the bottom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-text{
  font-weight: bolder;
  color: white;
}
form {
    margin: 50px;
}

.formTitle {
  font-size: 2.5em;           
  color: white;               
  text-shadow:               
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 20px;       
}

#formFont {
    color: white;
}
#buttonFont {
    color: black;
}
.atag {
   margin: 25px;
   padding: 25px;
}
#goalFormTop {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: grey;
}
#goalFormBot {
    padding-left: 25px;
    padding-right: 25px;
}
footer {
    margin-top: 100px;
    margin-bottom: 100px;
}
.card {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

}

.card-title {
  background-color: rgba(240, 248, 255, .7);
  border-radius: 5px;
  padding: 10px 15px;  
}

.card-text {
  background-color: rgba(240, 248, 255, .7);
  border-radius: 5px;
  padding: 10px 15px;  
}


.attainable-card-link {
  font-weight: bolder;
  color: #0b4e7e;
  border-radius: 5px;
  text-decoration: underline;
}

.task-card-link {
  font-weight: bolder;
  color: #0b4e7e;
  border-radius: 5px;
  text-decoration: underline;
}


@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }
  
  
/* Media Queries */
@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }